# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Logs
*.log

# Ignore data files
*.csv
*.json

# Ignore any other sensitive files
*.key
*.pem
